<h1>All Kittens</h1>

<% if @kittens.any? %>
  <% @kittens.each do |kitten| %>
    <ul>
      <h3><li><%= link_to kitten.name, kitten_path(kitten) %></li></h3>
    </ul>
  <% end %>
<% else %>
  <p>No kittens Available.</p>
<% end %>

<%= link_to "Add new kitten", new_kitten_path %>